<?xml version="1.0"?>
<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="mojComponents">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./component</directory>
            <exclude>
                <directory suffix=".php">./tests/</directory>
                <directory suffix=".php">./vendor/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
