a.nav-tab:focus {
    outline: none;
}
.moj-component-settings-section {
    display: none
}

.moj-component-input {
    width: 100%;
    max-width:400px;
}

@media screen and (max-width: 782px) {

}
